body {
  font-family: sans-serif;
  background-color: #E6D6C1;
  color: #3B2A22;
}

button {
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #7A553A;
}
